# === Bash / Shell ===
*~
*.swp
*.swo
*.tmp

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt

# === macOS / Linux ===
.DS_Store
.Trashes
*.log

# === Editors / IDEs ===
.vscode/
.idea/
*.code-workspace

# === Misc ===
*.bak
